/* the imported fonts google */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400;700&display=swap');

/* variables here */
$font: 'Roboto Mono', monospace;
$hover: #438b2d;
$btn: #818181;

$tablet: 768px;
$mobile: 480px;

$textShadow: 5px 5px 5px rgb(75, 74, 74);

$pcolor: #b6d4bf;